/* === GERAL===*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}
body{

    margin: 0;
    padding: 0;
}


.logo {
    width: 70px;         
    margin: 20px;
    position: absolute;   
    top: 20px;
    left: 20px;
              
}


.dashboard-container {
    max-width: 100%;
    height: 100vh;
    margin: 10rem auto;
    text-align: center;
    padding: 20px;
}

.dashboard-container h1 {
    font-size: 28px;
    color: #232a31;
    margin-bottom: 25px;
}

.dashboard-container p {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #232a31;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.logout-btn:hover {
    opacity: 0.8;
}

/* === RESPONSIVIDADE */

/*===CELULARES===*/

@media (max-width:576px) {
    .logo {
        width: 50px;         
        
                  
    }

    .dashboard-container h1 {
        font-size: 26px;
        
    }
    
    .dashboard-container p {
        font-size: 16px;
        padding-left: 20px;
       padding-right: 20px;
    }
    
    .logout-btn {
       
        font-size: 16px;
        
    }
      

}

@media (max-width: 480px) {
    .dashboard-container h1 {
        font-size: 24px;
        
    }
    
    .dashboard-container p {
        font-size: 14px;
       
    }
    
    .logout-btn {
       
        font-size: 14px;
        
    }


}
