/* === GERAL===*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}
body{

    margin: 0;
    padding: 0;
}


.logout-container {
    max-width: 100%;
    height: 100vh;
    margin: 10rem auto;
    text-align: center;
    padding: 20px;
}

.logout-container h1 {
    font-size: 28px;
    color: #232a31;
    margin-bottom: 25px;
}

.logout-container p {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.btn-voltar-login {
    display: inline-block;
    padding: 10px 20px;
    background: #232a31;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.btn-voltar-login:hover {
    opacity: 0.8;
}

/* === RESPONSIVIDADE */

/*===CELULARES===*/

@media (max-width:576px) {
  

    .logout-container h1 {
        font-size: 26px;
        
    }
    
    .logout-container p {
        font-size: 14px;
        padding-left: 20px;
       padding-right: 20px;
    }
    
    .btn-voltar-login {
       
        font-size: 14px;
        
    }
      

}



